<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <img mat-card-image imageLazyLoad="{{card.imageUrl}}"  alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
<!--   <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer> -->
</mat-card>