<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name" [routerLink]="['/home']"> Platform </h1>
    <button mat-icon-button [matMenuTriggerFor]="menu" mdTooltip="Change theme"><mat-icon>format_color_fill</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeTheme(themes.LIGHT_THEME)">Light</button>
      <button mat-menu-item (click)="changeTheme(themes.DARK_THEME)">Dark</button>
      <button mat-menu-item (click)="changeTheme(themes.CUSTOM_THEME)">Custom</button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'side'" opened fixedTopGap="56" class="sidenav">
      <mat-nav-list>
        <!--        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
        <a mat-list-item [routerLink]="['/one-employee']">One Employee</a>
        <a mat-list-item [routerLink]="['/colleague-direct']">Colleague Direct</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
